<section class="section about-me">
  <div class="container about-me-wrapper">
    <div class="sub-section text-img">
      <div class="about-me-text-box">
        <p class="about-me-text">
          I work with people all over the world to create impressive and
          <span class="accent-blue">functional</span>
          <span class="accent-grey">websites</span> that reflect each client's
          unique personality.
        </p>
      </div>
      <div class="about-me-img">
        <picture class="rounded-image">
          <source
            media="(min-width: 320px) and (max-width:767px)"
            srcset="
              ../img/about-me-img/1x-mobile.webp 1x,
              ../img/about-me-img/2x-mobile.webp 2x
            "
          />

          <source
            media="(min-width: 768px) and (max-width:1439px)"
            srcset="
              ../img/about-me-img/1x-tablet.webp 1x,
              ../img/about-me-img/2x-tablet.webp 2x
            "
          />
          <source
            media="(min-width: 1440px)"
            srcset="
              ../img/about-me-img/1x-desk.webp 1x,
              ../img/about-me-img/2x-desk.webp 2x
            "
          />
          <img src="../img/about-me-img/1x-mobile.webp" alt="person" />
        </picture>
      </div>
    </div>
  </div>
</section>
