<section id="covers" class="covers section">
    <div class="basic-container">
        <h2 class="visually-hidden">Covers</h2>
        <div class="container-covers">
            <ul class="list-covers">
                <li class="line-covers">
                    <picture class="picture-covers">
                        <source media="(max-width: 767px)"
                            srcset="../img/covers/fruitbox-mobile-1x.jpg 1x, ../img/covers/fruitbox-mobile-2x.jpg 2x" />
                        <source media="(min-width: 768px)"
                            srcset="../img/covers/fruitbox-1x.jpg 1x, ../img/covers/fruitbox-2x.jpg 2x" />
                        <img class="img-covers" src="../img/covers/fruitbox-1x.jpg" alt="Halves of citrus fruits" width="544" height="314" />
                    </picture>
                </li>
                <li class="line-covers">
                <picture class="picture-covers">
                    <source media="(max-width: 767px)"
                        srcset="../img/covers/power-pulse-mobile-1x.jpg 1x, ../img/covers/power-pulse-mobile-2x.jpg 2x" />
                    <source media="(min-width: 768px)"
                        srcset="../img/covers/power-pulse-1x.jpg 1x, ../img/covers/power-pulse-2x.jpg 2x" />
                    <img class="img-covers" src="../img/covers/power-pulse-1x.jpg" alt="A woman exercising" width="544" height="314" />
                </picture>
                </li>
                <li class="line-covers">
                    <picture class="picture-covers">
                        <source media="(max-width: 767px)"
                            srcset="../img/covers/mimino-mobile-1x.jpg 1x, ../img/covers/mimino-mobile-2x.jpg 2x" />
                        <source media="(min-width: 768px)"
                            srcset="../img/covers/mimino-1x.jpg 1x, ../img/covers/mimino-2x.jpg 2x" />
                        <img class="img-covers" src="../img/covers/mimino-1x.jpg" alt="Mimino Hotel" width="544" height="314" />
                    </picture>
                </li>
                <li class="line-covers">
                    <picture class="picture-covers">
                        <source media="(max-width: 767px)"
                            srcset="../img/covers/traditional-ua-mobile-1x.jpg 1x, ../img/covers/traditional-ua-mobile-2x.jpg 2x" />
                        <source media="(min-width: 768px)" 
                            srcset="../img/covers/traditional-ua-1x.jpg 1x, ../img/covers/traditional-ua-2x.jpg 2x" />
                        <img class="img-covers" src="../img/covers/traditional-ua-1x.jpg" alt="A girl in a Ukrainian embroidered shirt" width="544" height="314" />
                    </picture>
                </li>
                <li class="line-covers">
                    <picture class="picture-covers">
                        <source media="(max-width: 767px)"
                            srcset="../img/covers/green-havest-mobile-1x.jpg 1x, ../img/covers/green-havest-mobile-2x.jpg 2x" />
                        <source media="(min-width: 768px)" 
                            srcset="../img/covers/green-harvest-1x.jpg 1x, ../img/covers/green-harvest-2x.jpg 2x" />
                        <img class="img-covers" src="../img/covers/green-harvest-1x.jpg" alt="A box with vegetables, mushrooms, eggs, and lemons" width="544" height="314" />
                    </picture>
                </li>
                <li class="line-covers">
                    <picture class="picture-covers">
                        <source media="(max-width: 767px)"
                            srcset="../img/covers/wallet-mobile-1x.jpg 1x, ../img/covers/wallet-mobile-2x.jpg 2x" />
                        <source media="(min-width: 768px)"
                            srcset="../img/covers/wallet-1x.jpg 1x, ../img/covers/wallet-2x.jpg 2x" />
                        <img class="img-covers" src="../img/covers/wallet-1x.jpg" alt="A man and a woman using an online wallet" width="544" height="314" />
                    </picture>
                </li>
                <li class="line-covers">
                    <picture class="picture-covers">
                        <source media="(max-width: 767px)"
                            srcset="../img/covers/chego-mobile-1x.jpg 1x, ../img/covers/chego-mobile-2x.jpg 2x" />
                        <source media="(min-width: 768px)" 
                            srcset="../img/covers/chego-1x.jpg 1x, ../img/covers/chego-2x.jpg 2x" />
                        <img class="img-covers" src="../img/covers/chego-1x.jpg" alt="A woman with gold eye makeup" width="544" height="314" />
                    </picture>
                </li>
                <li class="line-covers">
                    <picture class="picture-covers">
                        <source media="(max-width: 767px)"
                            srcset="../img/covers/energe-flow-mobile-1x.jpg 1x, ../img/covers/energe-flow-mobile-2x.jpg 2x" />
                        <source media="(min-width: 768px)" 
                            srcset="../img/covers/energe-flow-1x.jpg 1x, ../img/covers/energe-flow-2x.jpg 2x" />
                        <img class="img-covers" src="../img/covers/energe-flow-1x.jpg" alt="A girl working out with dumbbells" width="544" height="314" />
                    </picture>
                </li>
                <li class="line-covers">
                    <picture class="picture-covers">
                        <source media="(max-width: 767px)"
                            srcset="../img/covers/english-mobile-1x.jpg 1x, ../img/covers/english-mobile-2x.jpg 2x" />
                        <source media="(min-width: 768px)" 
                            srcset="../img/covers/english-1x.jpg 1x, ../img/covers/english-2x.jpg 2x" />
                        <img class="img-covers" src="../img/covers/english-1x.jpg" alt="A smiling girl studying English" width="544" height="314" />
                    </picture>
                </li>
                <li class="line-covers">
                    <picture class="picture-covers">
                        <source media="(max-width: 767px)"
                            srcset="../img/covers/starlight-mobile-1x.jpg 1x, ../img/covers/starlight-mobile-2x.jpg 2x" />
                        <source media="(min-width: 768px)" 
                            srcset="../img/covers/starlight-1x.jpg 1x, ../img/covers/starlight-2x.jpg 2x" />
                        <img class="img-covers"  src="../img/covers/starlight-1x.jpg" alt="Transform your business into an online leader" width="544" height="314" />
                    </picture>
                </li>
            </ul>
            <ul class="list-covers">
                <li class="line-covers">
                    <picture class="picture-covers">
                        <source media="(max-width: 767px)"
                            srcset="../img/covers/mimino-mobile-1x.jpg 1x, ../img/covers/mimino-mobile-2x.jpg 2x" />
                        <source media="(min-width: 768px)"
                            srcset="../img/covers/mimino-1x.jpg 1x, ../img/covers/mimino-2x.jpg 2x" />
                        <img class="img-covers" src="../img/covers/mimino-1x.jpg" alt="Mimino Hotel" width="544" height="314" />
                    </picture>
                </li>
                <li class="line-covers">
                    <picture class="picture-covers">
                        <source media="(max-width: 767px)"
                            srcset="../img/covers/traditional-ua-mobile-1x.jpg 1x, ../img/covers/traditional-ua-mobile-2x.jpg 2x" />
                        <source media="(min-width: 768px)"
                            srcset="../img/covers/traditional-ua-1x.jpg 1x, ../img/covers/traditional-ua-2x.jpg 2x" />
                        <img class="img-covers" src="../img/covers/traditional-ua-1x.jpg"
                            alt="A girl in a Ukrainian embroidered shirt" width="544" height="314" />
                    </picture>
                </li>
                <li class="line-covers">
                    <picture class="picture-covers">
                        <source media="(max-width: 767px)"
                            srcset="../img/covers/wallet-mobile-1x.jpg 1x, ../img/covers/wallet-mobile-2x.jpg 2x" />
                        <source media="(min-width: 768px)"
                            srcset="../img/covers/wallet-1x.jpg 1x, ../img/covers/wallet-2x.jpg 2x" />
                        <img class="img-covers" src="../img/covers/wallet-1x.jpg" alt="A man and a woman using an online wallet"
                            width="544" height="314" />
                    </picture>
                </li>
                <li class="line-covers">
                    <picture class="picture-covers">
                        <source media="(max-width: 767px)"
                            srcset="../img/covers/energe-flow-mobile-1x.jpg 1x, ../img/covers/energe-flow-mobile-2x.jpg 2x" />
                        <source media="(min-width: 768px)"
                            srcset="../img/covers/energe-flow-1x.jpg 1x, ../img/covers/energe-flow-2x.jpg 2x" />
                        <img class="img-covers" src="../img/covers/energe-flow-1x.jpg" alt="A girl working out with dumbbells"
                            width="544" height="314" />
                    </picture>
                </li>
                <li class="line-covers">
                    <picture class="picture-covers">
                        <source media="(max-width: 767px)"
                            srcset="../img/covers/starlight-mobile-1x.jpg 1x, ../img/covers/starlight-mobile-2x.jpg 2x" />
                        <source media="(min-width: 768px)"
                            srcset="../img/covers/starlight-1x.jpg 1x, ../img/covers/starlight-2x.jpg 2x" />
                        <img class="img-covers" src="../img/covers/starlight-1x.jpg"
                            alt="Transform your business into an online leader" width="544" height="314" />
                    </picture>
                </li>
                <li class="line-covers">
                    <picture class="picture-covers">
                        <source media="(max-width: 767px)"
                            srcset="../img/covers/green-havest-mobile-1x.jpg 1x, ../img/covers/green-havest-mobile-2x.jpg 2x" />
                        <source media="(min-width: 768px)"
                            srcset="../img/covers/green-harvest-1x.jpg 1x, ../img/covers/green-harvest-2x.jpg 2x" />
                        <img class="img-covers" src="../img/covers/green-harvest-1x.jpg"
                            alt="A box with vegetables, mushrooms, eggs, and lemons" width="544" height="314" />
                    </picture>
                </li>
                <li class="line-covers">
                    <picture class="picture-covers">
                        <source media="(max-width: 767px)"
                            srcset="../img/covers/fruitbox-mobile-1x.jpg 1x, ../img/covers/fruitbox-mobile-2x.jpg 2x" />
                        <source media="(min-width: 768px)"
                            srcset="../img/covers/fruitbox-1x.jpg 1x, ../img/covers/fruitbox-2x.jpg 2x" />
                        <img class="img-covers" src="../img/covers/fruitbox-1x.jpg" alt="Halves of citrus fruits" width="544"
                            height="314" />
                    </picture>
                </li>
                <li class="line-covers">
                    <picture class="picture-covers">
                        <source media="(max-width: 767px)"
                            srcset="../img/covers/english-mobile-1x.jpg 1x, ../img/covers/english-mobile-2x.jpg 2x" />
                        <source media="(min-width: 768px)"
                            srcset="../img/covers/english-1x.jpg 1x, ../img/covers/english-2x.jpg 2x" />
                        <img class="img-covers" src="../img/covers/english-1x.jpg" alt="A smiling girl studying English" width="544"
                            height="314" />
                    </picture>
                </li>
                <li class="line-covers">
                    <picture class="picture-covers">
                        <source media="(max-width: 767px)"
                            srcset="../img/covers/chego-mobile-1x.jpg 1x, ../img/covers/chego-mobile-2x.jpg 2x" />
                        <source media="(min-width: 768px)" srcset="../img/covers/chego-1x.jpg 1x, ../img/covers/chego-2x.jpg 2x" />
                        <img class="img-covers" src="../img/covers/chego-1x.jpg" alt="A woman with gold eye makeup" width="544"
                            height="314" />
                    </picture>
                </li>
                <li class="line-covers">
                    <picture class="picture-covers">
                        <source media="(max-width: 767px)"
                            srcset="../img/covers/starlight-mobile-1x.jpg 1x, ../img/covers/starlight-mobile-2x.jpg 2x" />
                        <source media="(min-width: 768px)"
                            srcset="../img/covers/starlight-1x.jpg 1x, ../img/covers/starlight-2x.jpg 2x" />
                        <img class="img-covers" src="../img/covers/starlight-1x.jpg" alt="Transform your business into an online leader"
                            width="544" height="314" />
                    </picture>
                </li>
            </ul>
            <ul class="list-covers">
                <li class="line-covers">
                    <picture class="picture-covers">
                        <source media="(max-width: 767px)"
                            srcset="../img/covers/starlight-mobile-1x.jpg 1x, ../img/covers/starlight-mobile-2x.jpg 2x" />
                        <source media="(min-width: 768px)"
                            srcset="../img/covers/starlight-1x.jpg 1x, ../img/covers/starlight-2x.jpg 2x" />
                        <img class="img-covers" src="../img/covers/starlight-1x.jpg" alt="Transform your business into an online leader"
                            width="544" height="314" />
                    </picture>
                </li>
                <li class="line-covers">
                    <picture class="picture-covers">
                        <source media="(max-width: 767px)"
                            srcset="../img/covers/green-havest-mobile-1x.jpg 1x, ../img/covers/green-havest-mobile-2x.jpg 2x" />
                        <source media="(min-width: 768px)"
                            srcset="../img/covers/green-harvest-1x.jpg 1x, ../img/covers/green-harvest-2x.jpg 2x" />
                        <img class="img-covers" src="../img/covers/green-harvest-1x.jpg"
                            alt="A box with vegetables, mushrooms, eggs, and lemons" width="544" height="314" />
                    </picture>
                </li>
                <li class="line-covers">
                    <picture class="picture-covers">
                        <source media="(max-width: 767px)"
                            srcset="../img/covers/power-pulse-mobile-1x.jpg 1x, ../img/covers/power-pulse-mobile-2x.jpg 2x" />
                        <source media="(min-width: 768px)"
                            srcset="../img/covers/power-pulse-1x.jpg 1x, ../img/covers/power-pulse-2x.jpg 2x" />
                        <img class="img-covers" src="../img/covers/power-pulse-1x.jpg" alt="A woman exercising" width="544"
                            height="314" />
                    </picture>
                </li>
                <li class="line-covers">
                    <picture class="picture-covers">
                        <source media="(max-width: 767px)"
                            srcset="../img/covers/mimino-mobile-1x.jpg 1x, ../img/covers/mimino-mobile-2x.jpg 2x" />
                        <source media="(min-width: 768px)"
                            srcset="../img/covers/mimino-1x.jpg 1x, ../img/covers/mimino-2x.jpg 2x" />
                        <img class="img-covers" src="../img/covers/mimino-1x.jpg" alt="Mimino Hotel" width="544" height="314" />
                    </picture>
                </li>
                <li class="line-covers">
                    <picture class="picture-covers">
                        <source media="(max-width: 767px)"
                            srcset="../img/covers/traditional-ua-mobile-1x.jpg 1x, ../img/covers/traditional-ua-mobile-2x.jpg 2x" />
                        <source media="(min-width: 768px)"
                            srcset="../img/covers/traditional-ua-1x.jpg 1x, ../img/covers/traditional-ua-2x.jpg 2x" />
                        <img class="img-covers" src="../img/covers/traditional-ua-1x.jpg"
                            alt="A girl in a Ukrainian embroidered shirt" width="544" height="314" />
                    </picture>
                </li>
                <li class="line-covers">
                    <picture class="picture-covers">
                        <source media="(max-width: 767px)"
                            srcset="../img/covers/wallet-mobile-1x.jpg 1x, ../img/covers/wallet-mobile-2x.jpg 2x" />
                        <source media="(min-width: 768px)"
                            srcset="../img/covers/wallet-1x.jpg 1x, ../img/covers/wallet-2x.jpg 2x" />
                        <img class="img-covers" src="../img/covers/wallet-1x.jpg" alt="A man and a woman using an online wallet"
                            width="544" height="314" />
                    </picture>
                </li>
                <li class="line-covers">
                    <picture class="picture-covers">
                        <source media="(max-width: 767px)"
                            srcset="../img/covers/chego-mobile-1x.jpg 1x, ../img/covers/chego-mobile-2x.jpg 2x" />
                        <source media="(min-width: 768px)" srcset="../img/covers/chego-1x.jpg 1x, ../img/covers/chego-2x.jpg 2x" />
                        <img class="img-covers" src="../img/covers/chego-1x.jpg" alt="A woman with gold eye makeup" width="544"
                            height="314" />
                    </picture>
                </li>
                <li class="line-covers">
                    <picture class="picture-covers">
                        <source media="(max-width: 767px)"
                            srcset="../img/covers/energe-flow-mobile-1x.jpg 1x, ../img/covers/energe-flow-mobile-2x.jpg 2x" />
                        <source media="(min-width: 768px)"
                            srcset="../img/covers/energe-flow-1x.jpg 1x, ../img/covers/energe-flow-2x.jpg 2x" />
                        <img class="img-covers" src="../img/covers/energe-flow-1x.jpg" alt="A girl working out with dumbbells"
                            width="544" height="314" />
                    </picture>
                </li>
                <li class="line-covers">
                    <picture class="picture-covers">
                        <source media="(max-width: 767px)"
                            srcset="../img/covers/fruitbox-mobile-1x.jpg 1x, ../img/covers/fruitbox-mobile-2x.jpg 2x" />
                        <source media="(min-width: 768px)"
                            srcset="../img/covers/fruitbox-1x.jpg 1x, ../img/covers/fruitbox-2x.jpg 2x" />
                        <img class="img-covers" src="../img/covers/fruitbox-1x.jpg" alt="Halves of citrus fruits" width="544"
                            height="314" />
                    </picture>
                </li>
                <li class="line-covers">
                    <picture class="picture-covers">
                        <source media="(max-width: 767px)"
                            srcset="../img/covers/english-mobile-1x.jpg 1x, ../img/covers/english-mobile-2x.jpg 2x" />
                        <source media="(min-width: 768px)"
                            srcset="../img/covers/english-1x.jpg 1x, ../img/covers/english-2x.jpg 2x" />
                        <img class="img-covers" src="../img/covers/english-1x.jpg" alt="A smiling teacher in a classroom"
                            width="544" height="314" />
                    </picture>
                </li>
            </ul>
            <ul class="list-covers">
                <li class="line-covers">
                    <picture class="picture-covers">
                        <source media="(max-width: 767px)"
                            srcset="../img/covers/wallet-mobile-1x.jpg 1x, ../img/covers/wallet-mobile-2x.jpg 2x" />
                        <source media="(min-width: 768px)"
                            srcset="../img/covers/wallet-1x.jpg 1x, ../img/covers/wallet-2x.jpg 2x" />
                        <img class="img-covers" src="../img/covers/wallet-1x.jpg" alt="Wallet" width="544" height="314" />
                    </picture>
                </li>
                <li class="line-covers">
                    <picture class="picture-covers">
                        <source media="(max-width: 767px)"
                            srcset="../img/covers/starlight-mobile-1x.jpg 1x, ../img/covers/starlight-mobile-2x.jpg 2x" />
                        <source media="(min-width: 768px)"
                            srcset="../img/covers/starlight-1x.jpg 1x, ../img/covers/starlight-2x.jpg 2x" />
                        <img class="img-covers" src="../img/covers/starlight-1x.jpg" alt="Starlight" width="544" height="314" />
                    </picture>
                </li>
                <li class="line-covers">
                    <picture class="picture-covers">
                        <source media="(max-width: 767px)"
                            srcset="../img/covers/chego-mobile-1x.jpg 1x, ../img/covers/chego-mobile-2x.jpg 2x" />
                        <source media="(min-width: 768px)" srcset="../img/covers/chego-1x.jpg 1x, ../img/covers/chego-2x.jpg 2x" />
                        <img class="img-covers" src="../img/covers/chego-1x.jpg" alt="Chego" width="544" height="314" />
                    </picture>
                </li>
                <li class="line-covers">
                    <picture class="picture-covers">
                        <source media="(max-width: 767px)"
                            srcset="../img/covers/green-havest-mobile-1x.jpg 1x, ../img/covers/green-havest-mobile-2x.jpg 2x" />
                        <source media="(min-width: 768px)"
                            srcset="../img/covers/green-harvest-1x.jpg 1x, ../img/covers/green-harvest-2x.jpg 2x" />
                        <img class="img-covers" src="../img/covers/green-harvest-1x.jpg" alt="Green Harvest" width="544" height="314" />
                    </picture>
                </li>
                <li class="line-covers">
                    <picture class="picture-covers">
                        <source media="(max-width: 767px)"
                            srcset="../img/covers/energe-flow-mobile-1x.jpg 1x, ../img/covers/energe-flow-mobile-2x.jpg 2x" />
                        <source media="(min-width: 768px)"
                            srcset="../img/covers/energe-flow-1x.jpg 1x, ../img/covers/energe-flow-2x.jpg 2x" />
                        <img class="img-covers" src="../img/covers/energe-flow-1x.jpg" alt="Energe Flow" width="544" height="314" />
                    </picture>
                </li>
                <li class="line-covers">
                    <picture class="picture-covers">
                        <source media="(max-width: 767px)"
                            srcset="../img/covers/english-mobile-1x.jpg 1x, ../img/covers/english-mobile-2x.jpg 2x" />
                        <source media="(min-width: 768px)"
                            srcset="../img/covers/english-1x.jpg 1x, ../img/covers/english-2x.jpg 2x" />
                        <img class="img-covers" src="../img/covers/english-1x.jpg" alt="English" width="544" height="314" />
                    </picture>
                </li>
                <li class="line-covers">
                    <picture class="picture-covers">
                        <source media="(max-width: 767px)"
                            srcset="../img/covers/power-pulse-mobile-1x.jpg 1x, ../img/covers/power-pulse-mobile-2x.jpg 2x" />
                        <source media="(min-width: 768px)"
                            srcset="../img/covers/power-pulse-1x.jpg 1x, ../img/covers/power-pulse-2x.jpg 2x" />
                        <img class="img-covers" src="../img/covers/power-pulse-1x.jpg" alt="PowerPulse" width="544" height="314" />
                    </picture>
                </li>
                <li class="line-covers">
                    <picture class="picture-covers">
                        <source media="(max-width: 767px)"
                            srcset="../img/covers/mimino-mobile-1x.jpg 1x, ../img/covers/mimino-mobile-2x.jpg 2x" />
                        <source media="(min-width: 768px)" srcset="../img/covers/mimino-1x.jpg 1x, ../img/covers/mimino-2x.jpg 2x" />
                        <img class="img-covers" src="../img/covers/mimino-1x.jpg" alt="MIMINO" width="544" height="314" />
                    </picture>
                </li>
                <li class="line-covers">
                    <picture class="picture-covers">
                        <source media="(max-width: 767px)"
                            srcset="../img/covers/fruitbox-mobile-1x.jpg 1x, ../img/covers/fruitbox-mobile-2x.jpg 2x" />
                        <source media="(min-width: 768px)"
                            srcset="../img/covers/fruitbox-1x.jpg 1x, ../img/covers/fruitbox-2x.jpg 2x" />
                        <img class="img-covers" src="../img/covers/fruitbox-1x.jpg" alt="Fruitbox" width="544" height="314" />
                    </picture>
                </li>
                <li class="line-covers">
                    <picture class="picture-covers">
                        <source media="(max-width: 767px)"
                            srcset="../img/covers/traditional-ua-mobile-1x.jpg 1x, ../img/covers/traditional-ua-mobile-2x.jpg 2x" />
                        <source media="(min-width: 768px)"
                            srcset="../img/covers/traditional-ua-1x.jpg 1x, ../img/covers/traditional-ua-2x.jpg 2x" />
                        <img class="img-covers" src="../img/covers/traditional-ua-1x.jpg" alt="TraditoinalUA" width="544" height="314" />
                    </picture>
                </li>
            </ul>
            <ul class="list-covers">
                <li class="line-covers">
                    <picture class="picture-covers">
                        <source media="(max-width: 767px)"
                            srcset="../img/covers/fruitbox-mobile-1x.jpg 1x, ../img/covers/fruitbox-mobile-2x.jpg 2x" />
                        <source media="(min-width: 768px)"
                            srcset="../img/covers/fruitbox-1x.jpg 1x, ../img/covers/fruitbox-2x.jpg 2x" />
                        <img class="img-covers" src="../img/covers/fruitbox-1x.jpg" alt="Halves of citrus fruits" width="544"
                            height="314" />
                    </picture>
                </li>
                <li class="line-covers">
                    <picture class="picture-covers">
                        <source media="(max-width: 767px)"
                            srcset="../img/covers/power-pulse-mobile-1x.jpg 1x, ../img/covers/power-pulse-mobile-2x.jpg 2x" />
                        <source media="(min-width: 768px)"
                            srcset="../img/covers/power-pulse-1x.jpg 1x, ../img/covers/power-pulse-2x.jpg 2x" />
                        <img class="img-covers" src="../img/covers/power-pulse-1x.jpg" alt="A woman exercising" width="544"
                            height="314" />
                    </picture>
                </li>
                <li class="line-covers">
                    <picture class="picture-covers">
                        <source media="(max-width: 767px)"
                            srcset="../img/covers/mimino-mobile-1x.jpg 1x, ../img/covers/mimino-mobile-2x.jpg 2x" />
                        <source media="(min-width: 768px)"
                            srcset="../img/covers/mimino-1x.jpg 1x, ../img/covers/mimino-2x.jpg 2x" />
                        <img class="img-covers" src="../img/covers/mimino-1x.jpg" alt="Mimino Hotel" width="544" height="314" />
                    </picture>
                </li>
                <li class="line-covers">
                    <picture class="picture-covers">
                        <source media="(max-width: 767px)"
                            srcset="../img/covers/traditional-ua-mobile-1x.jpg 1x, ../img/covers/traditional-ua-mobile-2x.jpg 2x" />
                        <source media="(min-width: 768px)"
                            srcset="../img/covers/traditional-ua-1x.jpg 1x, ../img/covers/traditional-ua-2x.jpg 2x" />
                        <img class="img-covers" src="../img/covers/traditional-ua-1x.jpg"
                            alt="A girl in a Ukrainian embroidered shirt" width="544" height="314" />
                    </picture>
                </li>
                <li class="line-covers">
                    <picture class="picture-covers">
                        <source media="(max-width: 767px)"
                            srcset="../img/covers/green-havest-mobile-1x.jpg 1x, ../img/covers/green-havest-mobile-2x.jpg 2x" />
                        <source media="(min-width: 768px)"
                            srcset="../img/covers/green-harvest-1x.jpg 1x, ../img/covers/green-harvest-2x.jpg 2x" />
                        <img class="img-covers" src="../img/covers/green-harvest-1x.jpg"
                            alt="A box with vegetables, mushrooms, eggs, and lemons" width="544" height="314" />
                    </picture>
                </li>
                <li class="line-covers">
                    <picture class="picture-covers">
                        <source media="(max-width: 767px)"
                            srcset="../img/covers/wallet-mobile-1x.jpg 1x, ../img/covers/wallet-mobile-2x.jpg 2x" />
                        <source media="(min-width: 768px)"
                            srcset="../img/covers/wallet-1x.jpg 1x, ../img/covers/wallet-2x.jpg 2x" />
                        <img class="img-covers" src="../img/covers/wallet-1x.jpg" alt="A man and a woman using an online wallet"
                            width="544" height="314" />
                    </picture>
                </li>
                <li class="line-covers">
                    <picture class="picture-covers">
                        <source media="(max-width: 767px)"
                            srcset="../img/covers/chego-mobile-1x.jpg 1x, ../img/covers/chego-mobile-2x.jpg 2x" />
                        <source media="(min-width: 768px)" srcset="../img/covers/chego-1x.jpg 1x, ../img/covers/chego-2x.jpg 2x" />
                        <img class="img-covers" src="../img/covers/chego-1x.jpg" alt="A woman with gold eye makeup" width="544"
                            height="314" />
                    </picture>
                </li>
                <li class="line-covers">
                    <picture class="picture-covers">
                        <source media="(max-width: 767px)"
                            srcset="../img/covers/energe-flow-mobile-1x.jpg 1x, ../img/covers/energe-flow-mobile-2x.jpg 2x" />
                        <source media="(min-width: 768px)"
                            srcset="../img/covers/energe-flow-1x.jpg 1x, ../img/covers/energe-flow-2x.jpg 2x" />
                        <img class="img-covers" src="../img/covers/energe-flow-1x.jpg" alt="A girl working out with dumbbells"
                            width="544" height="314" />
                    </picture>
                </li>
                <li class="line-covers">
                    <picture class="picture-covers">
                        <source media="(max-width: 767px)"
                            srcset="../img/covers/english-mobile-1x.jpg 1x, ../img/covers/english-mobile-2x.jpg 2x" />
                        <source media="(min-width: 768px)"
                            srcset="../img/covers/english-1x.jpg 1x, ../img/covers/english-2x.jpg 2x" />
                        <img class="img-covers" src="../img/covers/english-1x.jpg" alt="A smiling girl studying English" width="544"
                            height="314" />
                    </picture>
                </li>
                <li class="line-covers">
                    <picture class="picture-covers">
                        <source media="(max-width: 767px)"
                            srcset="../img/covers/starlight-mobile-1x.jpg 1x, ../img/covers/starlight-mobile-2x.jpg 2x" />
                        <source media="(min-width: 768px)"
                            srcset="../img/covers/starlight-1x.jpg 1x, ../img/covers/starlight-2x.jpg 2x" />
                        <img class="img-covers" src="../img/covers/starlight-1x.jpg"
                            alt="Transform your business into an online leader" width="544" height="314" />
                    </picture>
                </li>
            </ul>        
        </div>
    </div>
</section>