<section id="faq" class="section container ">
<h2 class="faq-title">FAQ</h2>
  <ul class="list-item">
    <li class="list-faq">
      <div class="faq-accordion-item">
          <button type="button" class="faq-accordion-trigger faq-item">
            What programming languages are most often used in your project?
                 <span class="arrow-faq">
               </span>
          </button>
        <div class="faq-accordion-panel">
          <p class="text-faq">In the field of web development, there are various technologies and programming languages. Typically, this includes a combination of frontend (client side) and backend (server side) languages.</p>
        </div>
      </div>
    </li>

    <li class="list-faq">
      <div class="faq-accordion-item">
      <button type="button" class="faq-accordion-trigger faq-item">
        What are the deadlines for the project?
        <span class="arrow-faq">
               </span>
      </button>
      <div class="faq-accordion-panel">
        <p class="text-faq">The terms of project implementation depend to a large extent on a number of factors, such as the scope of the project, its complexity, and the availability of resources. Determining exact deadlines is a difficult task, and it usually occurs during the planning phase of the project.</p>
      </div>
    </div>
    </li>

    <li class="list-faq">
      <div class="faq-accordion-item">
        <button type="button" class="faq-accordion-trigger faq-item">
          What payment methods do you accept?
          <span class="arrow-faq">
               </span>
        </button>
        <div class="faq-accordion-panel">
          <p class="text-faq">Payment through credit and debit cards such as Visa, MasterCard, specialized electronic payment systems such as PayPal, as well as payments in cryptocurrencies such as Bitcoin, Ethereum and others.</p>
        </div>
      </div>
    </li>

    <li class="list-faq">
      <div class="faq-accordion-item">
        <button type="button" class="faq-accordion-trigger faq-item">
          How can I contact you?
          <span class="arrow-faq">
               </span>
        </button>
        <div class="faq-accordion-panel">
          <p class="text-faq">In the field of web development, there are various technologies and programming languages. Typically, this includes a combination of frontend (client side) and backend (server side) languages.</p>
        </div>
      </div>
    </li>

    <li class="list-faq">
      <div class="faq-accordion-item">
        <button type="button" class="faq-accordion-trigger faq-item">
          Do you provide advice or support?
          <span class="arrow-faq">
               </span>
        </button>
        <div class="faq-accordion-panel">
          <p class="text-faq">The terms of project implementation depend to a large extent on a number of factors, such as the scope of the project, its complexity, and the availability of resources. Determining exact deadlines is a difficult task, and it usually occurs during the planning phase of the project.</p>
        </div>
      </div>
    </li>

    <li class="list-faq">
      <div class="faq-accordion-item">
        <button type="button" class="faq-accordion-trigger faq-item">
          What does the process of developing a software product look like from idea to implementation?
          <span class="arrow-faq">
               </span>
        </button>
        <div class="faq-accordion-panel">
          <p class="text-faq">Payment through credit and debit cards such as Visa, MasterCard, specialized electronic payment systems such as PayPal, as well as payments in cryptocurrencies such as Bitcoin, Ethereum and others.</p>
        </div>
      </div>
    </li>
  </ul>
</section>