<section class="faq section">
  <div class="container">
    <h2 class="faq-title">FAQ</h2>
    <!-- accordion container -->
    <ul class="faq-accordion-container">
      <!-- accordion item 1 -->
      <li class="ac faq-accordion-item faq-box-1">
        <h2 class="ac-header faq-ac-header">
          <button type="button" class="accordion-trigger faq-accordion-trigger">
            <span class="faq-header-text"
              >What programming languages ​​are most often used in your
              project?</span
            >
            <span class="faq-acc-circle">
              <svg class="faq-svg-ac">
                <use href="./img/svg-icon.svg#icon-Icon-top"></use>
              </svg>
            </span>
          </button>
        </h2>
        <div class="ac-panel faq-accordion-panel">
          <p class="faq-text">
            In the field of web development, there are various technologies and
            programming languages. Typically, this includes a combination of
            frontend (client side) and backend (server side) languages.
          </p>
        </div>
      </li>
      <!-- accordion item 2 -->
      <li class="ac faq-accordion-item faq-box-3">
        <h2 class="ac-header faq-ac-header">
          <button type="button" class="accordion-trigger faq-accordion-trigger">
            <span class="faq-header-text"
              >What are the deadlines for the project?</span
            >
            <span class="faq-acc-circle">
              <svg class="svg-ac">
                <use href="./img/svg-icon.svg#icon-Icon-top"></use>
              </svg>
            </span>
          </button>
        </h2>
        <div class="ac-panel faq-accordion-panel">
          <p class="faq-text">
            The terms of project implementation depend to a large extent on a
            number of factors, such as the scope of the project, its complexity,
            and the availability of resources. Determining exact deadlines is a
            difficult task, and it usually occurs during the planning phase of
            the project.
          </p>
        </div>
      </li>
      <!-- accordion item 3 -->
      <li class="ac faq-accordion-item faq-box-5">
        <h2 class="ac-header faq-ac-header">
          <button type="button" class="accordion-trigger faq-accordion-trigger">
            <span class="faq-header-text"
              >What payment methods do you accept?</span
            >
            <span class="faq-acc-circle">
              <svg class="svg-ac">
                <use href="./img/svg-icon.svg#icon-Icon-top"></use>
              </svg>
            </span>
          </button>
        </h2>
        <div class="ac-panel faq-accordion-panel">
          <p class="faq-text">
            Payment through credit and debit cards such as Visa, MasterCard,
            specialized electronic payment systems such as PayPal, as well as
            payments in cryptocurrencies such as Bitcoin, Ethereum and others.
          </p>
        </div>
      </li>

      <!-- accordion item 4 -->
      <li class="ac faq-accordion-item faq-box-2">
        <h2 class="ac-header faq-ac-header">
          <button type="button" class="accordion-trigger faq-accordion-trigger">
            <span class="faq-header-text">How can I contact you?</span>
            <span class="faq-acc-circle">
              <svg class="svg-ac">
                <use href="./img/svg-icon.svg#icon-Icon-top"></use>
              </svg>
            </span>
          </button>
        </h2>
        <div class="ac-panel faq-accordion-panel">
          <p class="faq-text">
            In the field of web development, there are various technologies and
            programming languages. Typically, this includes a combination of
            frontend (client side) and backend (server side) languages.
          </p>
        </div>
      </li>
      <!-- accordion item 5 -->
      <li class="ac faq-accordion-item faq-box-4">
        <h2 class="ac-header faq-ac-header">
          <button type="button" class="accordion-trigger faq-accordion-trigger">
            <span class="faq-header-text"
              >Do you provide advice or support?</span
            >
            <span class="faq-acc-circle">
              <svg class="svg-ac">
                <use href="./img/svg-icon.svg#icon-Icon-top"></use>
              </svg>
            </span>
          </button>
        </h2>
        <div class="ac-panel faq-accordion-panel">
          <p class="faq-text">
            The terms of project implementation depend to a large extent on a
            number of factors, such as the scope of the project, its complexity,
            and the availability of resources. Determining exact deadlines is a
            difficult task, and it usually occurs during the planning phase of
            the project.
          </p>
        </div>
      </li>
      <!-- accordion item 6 -->
      <li class="ac faq-accordion-item faq-box-6">
        <h2 class="ac-header faq-ac-header">
          <button type="button" class="accordion-trigger faq-accordion-trigger">
            <span class="faq-header-text"
              >What does the process of developing a software product look like
              from idea to implementation?</span
            >
            <span class="faq-acc-circle">
              <svg class="svg-ac">
                <use href="./img/svg-icon.svg#icon-Icon-top"></use>
              </svg>
            </span>
          </button>
        </h2>
        <div class="ac-panel faq-accordion-panel">
          <p class="faq-text">
            Payment through credit and debit cards such as Visa, MasterCard,
            specialized electronic payment systems such as PayPal, as well as
            payments in cryptocurrencies such as Bitcoin, Ethereum and others.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
