  <header class="header">
    <div class="container header-container">
      <a href="./index.html" class="homepage-link">
        <picture>
          <source
            srcset="./img/header/header-mini-2x.jpg 2x,
            ./img/header/header-mini-1x.jpg 1x
            "
          />
          <img src="./img/header/header-mini-1x.jpg" alt="Lloyd Jefferson" class="logo-photo" />
        </picture>
        <span class="logo-text"> jefferson* </span>
      </a>
  
      <button type="button" class="mob-menu-open-btn" aria-label="openMenu">
        <svg class="svg-open-menu" width="28" height="28">
          <use href="./img/svg-icon.svg#icon-menu-05"></use>
        </svg>
      </button>

      <!--       Drop menu        -->

      <div class="drop-menu">
        <button type="button" class="header-menu">Menu</button>
        <nav class="drop-menu-nav">
          <ul class="menu-list">
            <li class="drop-menu-item">
              <a href="#aboutme-id" class="drop-menu-link">About me</a>
            </li>
            <li class="drop-menu-item">
              <a href="#benefits" class="drop-menu-link"> Benefits </a>
            </li>
            <li class="drop-menu-item">
              <a href="#projects" class="drop-menu-link"> Projects </a>
            </li>
            <li class="drop-menu-item">
              <a href="#faq-section-id" class="drop-menu-link"> FAQ </a>
            </li>
          </ul>
        </nav>
      </div>
      <a href="#work-together" class="order-btn">Order the project</a>
    </div>
  </header>

  <!--           Mobile menu        -->

  <div class="mob-menu">
    <button type="button" class="mob-menu-close-btn" aria-label="close-menu">
      <svg class="mob-menu-close-btn-icon" width="28" height="28">
        <use href="./img/svg-icon.svg#icon-x-close"></use>
      </svg>
    </button>
    <nav class="mob-menu-nav">
      <ul class="mob-menu-list">
        <li class="mob-menu-item">
          <a href="#aboutme-id" class="mob-menu-link">About me</a>
        </li>
        <li class="mob-menu-item">
          <a href="#benefits" class="mob-menu-link"> Benefits </a>
        </li>
        <li class="mob-menu-item">
          <a href="#projects" class="mob-menu-link"> Projects </a>
        </li>
        <li class="mob-menu-item">
          <a href="#faq-section-id" class="mob-menu-link"> FAQ </a>
        </li>
      </ul>
    </nav>
    <a href="#work-together" class="mob-order-btn">Order the project</a>
  </div>



