<section id="projects" class="projects">

  <div class="projects-container container">
    <h2 class="projects-title">PROJECTS</h2>
    <div class="swiper projects-swiper">
      <ul class="projects-swiper-wrapper swiper-wrapper">
        <li class="projects-swiper-slide swiper-slide"><!-- <div class="projects-caption"> -->
          <div class="projects-body">
            <div class="projects-content">
              <ul class="projects-lists">
                <li class="projects-list">#react</li>
                <li class="projects-list">#js</li>
                <li class="projects-list">#node js</li>
                <li class="projects-list">#git</li>
              </ul>
              <p class="projects-text">
                <!-- <h3 class="projects-content"> -->
                Programming Across Borders: Ideas, Technologies, Innovations
              </p>
              <a class="projects-btn" href="https://github.com/costiantynsnaider35/keep-do-it-2-0" target="_blank"
                rel="noopener noreferrer">See project</a>
            </div>

            <div class="projects-image">
              <picture>
                <source srcset="
                ./img/projects-img/projects-img1-tab-desktop@2x-min.png 2x,
                ./img/projects-img/projects-img1-tab-desktop@1x-min.png 1x" media="(min-width: 1440px)" />
                <source srcset="
                ./img/projects-img/projects-img1-tab-desktop@2x-min.png 2x,
                ./img/projects-img/projects-img1-tab-desktop@1x-min.png 1x" media="(min-width: 768px)" />
                <source srcset="
                ./img/projects-img/projects-img1-mob@2x-min.png 2x,
                ./img/projects-img/projects-img1-mob@1x-min.png 1x" media="(min-width:375px)" />
                <img class="projects-img" src="./img/projects-img/projects-img1-mob@1x-min.png" alt="Project 1"
                  width="311" height="195" loading="lazy" />
              </picture>
            </div>
          </div>
        </li>

        <li class="projects-swiper-slide swiper-slide"><!-- <div class="projects-caption"> -->
          <div class="projects-body">
            <div class="projects-content">
              <ul class="projects-lists">
                <li class="projects-list">#react</li>
                <li class="projects-list">#js</li>
                <li class="projects-list">#node js</li>
                <li class="projects-list">#git</li>
              </ul>
              <p class="projects-text">
                <!-- <h3 class="projects-content"> -->
                Programming Across Borders: Ideas, Technologies, Innovations
              </p>
              <a class="projects-btn" href="https://github.com/costiantynsnaider35/keep-do-it-2-0" target="_blank"
                rel="noopener noreferrer">See project</a>
            </div>

            <div class="projects-image">
              <picture>
                <source srcset="
                ./img/projects-img/projects-img2-tab-desktop@2x-min.png 2x,
                ./img/projects-img/projects-img2-tab-desktop@1x-min.png 1x" media="(min-width: 1440px)" />
                <source srcset="
                ./img/projects-img/projects-img2-tab-desktop@2x-min.png 2x,
                ./img/projects-img/projects-img2-tab-desktop@1x-min.png 1x" media="(min-width: 768px)" />
                <source srcset="
                ./img/projects-img/projects-img2-mob@2x-min.png 2x,
                ./img/projects-img/projects-img2-mob@1x-min.png 1x" media="(min-width:375px)" />
                <img class="projects-img" src="./img/projects-img/projects-img2-mob@1x-min.png" alt="Project 2"
                  width="311" height="195" loading="lazy" />
              </picture>
            </div>
          </div>
        </li>

        <li class="projects-swiper-slide swiper-slide"><!-- <div class="projects-caption"> -->
          <div class="projects-body">
            <div class="projects-content">
              <ul class="projects-lists">
                <li class="projects-list">#react</li>
                <li class="projects-list">#js</li>
                <li class="projects-list">#node js</li>
                <li class="projects-list">#git</li>
              </ul>
              <p class="projects-text">
                <!-- <h3 class="projects-content"> -->
                Programming Across Borders: Ideas, Technologies, Innovations
              </p>
              <a class="projects-btn" href="https://github.com/costiantynsnaider35/keep-do-it-2-0" target="_blank"
                rel="noopener noreferrer">See project</a>
            </div>

            <div class="projects-image">
              <picture>
                <source srcset="
                ./img/projects-img/projects-img3-tab-desktop@2x-min.png 2x,
                ./img/projects-img/projects-img3-tab-desktop@1x-min.png 1x" media="(min-width: 1440px)" />
                <source srcset="
                ./img/projects-img/projects-img3-tab-desktop@2x-min.png 2x,
                ./img/projects-img/projects-img3-tab-desktop@1x-min.png 1x" media="(min-width: 768px)" />
                <source srcset="
                ./img/projects-img/projects-img3-mob@2x-min.png 2x,
                ./img/projects-img/projects-img3-mob@1x-min.png 1x" media="(min-width:375px)" />
                <img class="projects-img" src="./img/projects-img/projects-img3-mob@1x-min.png" alt="Project 3"
                  width="311" height="195" loading="lazy" />
              </picture>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="projects-arrows">
      <button type="button" class="swiper-button-prev projects-swiper-button-left swiper-button-disabled" disabled>
        <svg class="projects-btn-svg" height="24" width="24">
          <use href="./img/svg-icon.svg#icon-arrow-narrow-left"></use>
        </svg>
      </button>
      <button type="button" class="swiper-button-next projects-swiper-button-right swiper-button-disabled">
        <svg class="projects-btn-svg" height="24" width="24">
          <use href="./img/svg-icon.svg#icon-arrow-narrow-right"></use>
        </svg>
      </button>
    </div>
  </div>

</section>