<section id="projects" class="projects">

  <div class="projects-container container">
    <h2 class="projects-title">PROJECTS</h2>

    <div class="projects-caption">

      <div class="projects-body">
        <ul class="projects-lists">
          <li class="projects-list">#react</li>
          <li class="projects-list">#js</li>
          <li class="projects-list">#node js</li>
          <li class="projects-list">#git</li>
        </ul>
        <h3 class="projects-content">
          Programming Across Borders: Ideas, Technologies, Innovations
        </h3>
        <a class="projects-link projects-btn" href="https://github.com/costiantynsnaider35/keep-do-it-2-0"
          target="_blank" rel="noopener noreferrer">
          See project
        </a>
      </div>

      <div class="swiper projects-swiper">
        <ul class="projects-swiper-wrapper swiper-wrapper">
          <!-- Slides -->
          <li class="projects-swiper-slide swiper-slide">
            <img class="projects-img" srcset="
                ./img/projects-img/image-1-2x-min.png 2x,
                ./img/projects-img/projects-1-min.png 1x
                " src="./img/projects-img/projects-1-min.png" alt="Project 1" width="311" height="195" />
          </li>
          <li class="projects-swiper-slide swiper-slide">
            <img class="projects-img" srcset="
                ./img/projects-img/image-2-2x-min.png 2x,
                ./img/projects-img/projects-2-min.png 1x
                " src="./img/projects-img/projects-2-min.png" alt="Project 2" width="311" height="195" />
          </li>
          <li class="projects-swiper-slide swiper-slide">
            <img class="projects-img" srcset="
                ./img/projects-img/image-3-2x-min.png 2x,
                ./img/projects-img/projects-3-min.png 1x
                " src="./img/projects-img/projects-3-min.png" alt="Project 3" width="311" height="195" />
          </li>
        </ul>
      </div>
    </div>

    <div class="projects-swiper-btn">
      <button type="button" class="swiper-button-prev projects-swiper-button-left" disabled>
        <svg class="projects-btn-svg" height="24" width="24">
          <use href="./img/svg-icon.svg#icon-arrow-narrow-left"></use>
        </svg>
      </button>
      <button type="button" class="swiper-button-next projects-swiper-button-right">
        <svg class="projects-btn-svg" height="24" width="24">
          <use href="./img/svg-icon.svg#icon-arrow-narrow-right"></use>
        </svg>
      </button>
    </div>
  </div>

</section>