<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./css/reviews.css" />
  </head>
  <body>
    <section class="review-section">
      <h2 class="reviews-title">Reviews</h2>
      <div class="review-container swiper">
        <ul class="review-list swiper-wrapper"></ul>

        <div class="review-btn-box">
          <button type="button" class="review-nav-btn swiper-button-prev">
            B
          </button>
          <button type="button" class="review-nav-btn swiper-button-next">
            N
          </button>
        </div>
      </div>
    </section>
    <script type="module" src="./js/reviews.js"></script>
  </body>
</html>
