<section class="review-section container">
  <h2 class="reviews-title">Reviews</h2>
  <div class="review-container swiper">
    <ul class="review-list swiper-wrapper swiper-zoom-container"></ul>

    <div class="review-btn-box">
      <button type="button" class="review-btn-prev">
        <svg class="btn-icon">
          <use
            href="./img/svg-icon.svg#icon-arrow-narrow-left"
            class="btn-icon-svg svg-icon-left"
          ></use>
        </svg>
      </button>
      <button type="button" class="review-btn-next">
        <svg class="btn-icon">
          <use
            href="./img/svg-icon.svg#icon-arrow-narrow-right"
            class="btn-icon-svg svg-icon-right"
          ></use>
        </svg>
      </button>
    </div>
  </div>
</section>
