<footer class="footer container section" id="work-together">
  <div class="footer-title">
    <img
      src="./img/work/imagemini-photo.png"
      alt="small loyd photo"
      class="footer-img"
    />
    <h2 class="footer-header">
      <span class="footer-header-text">
        Let’s <span class="footer-header-span">work</span>
      </span>
      <br />
      <span class="footer-header-together">together</span>
    </h2>
  </div>

  <form class="footer-form">
    <div class="footer-input-container">
      <input
        type="text"
        class="footer-form-input"
        placeholder="clients@gmail.com"
        pattern="^\w+(\.\w+)?@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$"
        title="Please enter a valid email address"
        required
      />
      <!-- <svg class="footer-line-svg">
        <use href="./img/svg-icon.svg#icon-Vector-1"></use>
      </svg> -->
      <input type="text" footer-form-input" placeholder="comments" />
      <!-- <svg class="footer-line-svg">
        <use href="./img/svg-icon.svg#icon-Vector-1"></use>
      </svg> -->
    </div>
    <div class="footer-btn-container">
      <button type="submit" class="footer-btn">Send</button>
    </div>
  </form>
  <div class="footer-contacts-container">
    <a href="mailto:lloydjefferson@gmail.com" class="footer-link"
      >lloydjefferson@gmail.com</a
    >
    <a href="tel:+3801111111111" class="footer-link">+380 11 1111 11 11</a>
  </div>
</footer>

<div class="modal-overlay visually-hidden"></div>
<div class="footer-modal-window visually-hidden" id="modal-window">
  <button type="button" class="close-btn">
    <svg width="22" height="22" class="close-btn-svg">
      <use href="./img/svg-icon.svg#icon-x-close"></use>
    </svg>
  </button>
  <h2 class="footer-mw-title">Thank you for your interest in cooperation</h2>
  <p class="footer-mw-paragraph">
    The manager will contact you shortly to discuss further details and
    opportunities for cooperation. Please stay in touch
  </p>
</div>

<script type="module" defer src="./js/work.js"></script>
