<footer class="footer container section" id="footer">
  <div class="footer-title">
    <img
      src="../img/work/imagemini-photo.png"
      alt="small loyd photo"
      class="footer-img"
    />
    <h2 class="footer-header">
      <span class="footer-header-text">
        Let’s <span class="footer-header-span">work</span>
      </span>
      <br />
      <span class="footer-header-together">together</span>
    </h2>
  </div>

  <form class="footer-form">
    <input
      type="text"
      class="footer-form-input"
      placeholder="clients@gmail.com"
    />
    <input type="text" class="footer-form-input" placeholder="comments" />
    <button type="submit" class="footer-btn">Send</button>
  </form>
  <div class="footer-contacts-container">
    <a href="" class="footer-link">lloydjefferson@gmail.com</a>
    <a href="" class="footer-link">+380 11 1111 11 11</a>
  </div>
</footer>
<div class="footer-modal-window">
  <button type="button" class="close-btn">
    <svg width="11" height="11" class="close-btn-svg">
      <use href="../img/svg-icon.svg#icon-x-close"></use>
    </svg>
  </button>
  <h2 class="footer-mw-title">Thank you for your interest in cooperation</h2>
  <p class="footer-mw-paragraph">
    The menager will contact you shortly to discuss futher details and
    opportunities for cooperation. Please stay in touch
  </p>
</div>
