<footer class="footer container" id="footer">
  <div class="footer-title">
    <img src="../img/work/imagemini-photo.png" alt="small loyd photo" />
    <h2 class="footer-header">
      Let’s <span class="footer-header-span">work</span>
      together
    </h2>
  </div>

  <form class="footer-form">
    <input
      type="text"
      class="footer-form-input"
      placeholder="clients@gmail.com"
    />
    <input type="text" class="footer-form-input" placeholder="comments" />
    <button type="submit" class="footer-btn">Send</button>
  </form>
  <div class="footer-contacts-container">
    <a href="" class="footer-link">lloydjefferson@gmail.com</a>
    <a href="" class="footer-link">+380 11 1111 11 11</a>
  </div>
</footer>
