.section.about-me {
  background-color: #1c1d20;
}

.about-me-wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

/* -----About Me text ------*/
.sub-section.text-img {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@media screen and (min-width: 1440px) {
  .sub-section.text-img {
    display: flex;
    flex-direction: row;
    gap: 16px;
  }
}

.about-me-text-box {
  width: 343px;
  height: 500px;
  padding: 32px;
  border-radius: 24px;
  background-color: #242527;
}

.about-me-text {
  color: #fafafa;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 116.6%;
  letter-spacing: -0.72px;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .about-me-text-box {
    width: 704px;
    height: 700px;
    padding: 64px 64px 436px 64px;
  }
  .about-me-text {
    font-size: 38px;
    line-height: 105.26%;
    letter-spacing: -1.14px;
  }
}

@media screen and (min-width: 1440px) {
  .about-me-text-box {
    width: 680px;
    height: 700px;
  }
}

.about-me-text .accent-blue {
  color: #0041e8;
}
.about-me-text .accent-grey {
  color: rgba(250, 250, 250, 0.4);
}

/* -----About Me img ------*/

.about-me-img {
  width: 343px;
  height: 500px;
}
@media screen and (min-width: 768px) {
  .about-me-img {
    width: 704px;
    height: 700px;
  }
}

@media screen and (min-width: 1440px) {
  .about-me-img {
    width: 680px;
    height: 700px;
  }
}

.rounded-image img {
  border-radius: 24px;
}

/* -------- Accordeon---------*/
.accordion-item {
  background-color: transparent;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-left: none;
  border-right: none;
  border-top: none;
  margin-top: 0;
}

.accordion-trigger {
  margin-top: 24px;
  margin-bottom: 24px;
  padding: 0;
  position: relative;
  width: 100%;
  color: rgba(250, 250, 250, 0.4);
  font-family: 'Inter Tight';
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 150% */
  letter-spacing: -0.32px;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  text-align: left;
}

.accordion-panel {
  background-color: transparent;
}

.text {
  max-width: 612px;
  color: #fafafa;
  font-family: 'Inter Tight';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: -0.32px;
  margin-bottom: 32px;
}

.text.part-two {
  margin-bottom: 20px;
}

.text.role,
.text.ed {
  margin-bottom: 10px;
}
.text.role.part-two,
.text.ed.text.part-two {
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .text {
    max-width: 704px;
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 1440px) {
  .text {
    max-width: 612px;
    margin: 0 68px 32px auto;
  }
  .text.role.part-two,
  .text.ed.text.part-two {
    margin-bottom: 32px;
  }
}

.arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  border-radius: 100px;
  border: 1px solid rgba(250, 250, 250, 0.2);
}

.svg {
  stroke: #fafafa;
  transition: all 0.5s ease-out;
}

.accordion-item.is-active .svg {
  transform: rotate(180deg);
}
/* ------swiper------------- */

.swiper-container-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 100%;
  margin-bottom: 50px;
}

.swiper {
  width: 260px;
  margin-left: 0;
}

.swiper-slide {
  width: 130px;
  height: 130px;
  border: 1px solid white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fafafa;
  font-family: 'Inter Tight';
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.4px;
}

@media screen and (min-width: 768px) {
  .swiper {
    width: 600px;
  }
  .swiper-slide {
    width: 200px;
    height: 200px;
  }
}

@media screen and (min-width: 1440px) {
  .swiper {
    width: 1200px;
  }
}

.swiper-slide.swiper-slide-active {
  background-color: #0041e8;
}

.custom-navigation-button {
  width: 40px;
  height: 40px;
  margin-left: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  z-index: 10;
  transition: background-color 0.3s ease;
}

.custom-navigation-button:hover {
  background-color: #0056b3;
}
