.review-section {
  margin: 0 auto;
  width: 375px;
  padding: 64px 16px 64px 16px;
  background-color: #1c1d20;
}

.review-container {
  width: 100%;
}
.reviews-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.4);
  text-transform: uppercase;
  margin-bottom: 32px;
}
.review-list {
}
li.review-item {
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 20px;
  padding: 32px 24px;
  margin-bottom: 32px;
  width: 343px;
  height: 302px;
}
.review-item-img {
  width: 48px;
  height: 48px;
  border-radius: 10px;
  margin-bottom: 32px;
}
.review-item-name {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: #fafafa;
  margin-bottom: 8px;
}
.review-item-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.6);
  width: 295px;
  height: 120px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.review-btn-next,
.review-btn-prev {
  color: #fafafa;
  border: 1px solid rgba(250, 250, 250, 0.5);
  border-radius: 60px;
  padding: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-button-disabled .svg-icon-left {
  stroke: #3b3b3b;
}

.swiper-button-disabled .svg-icon-right {
  stroke: #3b3b3b;
}

.swiper-button-disabled {
  border: 1px solid rgba(250, 250, 250, 0.2);
  pointer-events: none;
}

.review-btn-box {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.btn-icon {
  width: 24px;
  height: 24px;
}
.btn-icon-svg {
  fill: transparent;
  stroke: #fafafa;
}

.err-container {
  width: 343px;
  height: 302px;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 20px;
  padding: 32px 24px;
  margin-bottom: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-mes {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #fafafa;
}

li.review-item {
  height: 100%;
  /* transition-property: height, margin-bottom ;
  transition-duration: 2ms;
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1); */
  margin-bottom: 32px;
  transition: height 0.3s ease, margin-bottom 0.3s ease;
}

.review-item-text {
  transition: overflow 0.3s ease;
}

li.review-item.expanded {
  height: auto;
  margin-bottom: 5px;
}

li.review-item.expanded .review-item-text {
  text-overflow: ellipsis;
  overflow: visible;
}

/* =========Tablet============ */

@media screen and (min-width: 768px) {
  .review-section {
    margin: 0 auto;
    width: 768px;
    padding: 96px 32px;
    background-color: #1c1d20;
  }

  .err-container {
    width: 100%;
  }
}

/* ===============Desktop========= */
@media screen and (min-width: 1440px) {
  .review-section {
    margin: 0 auto;
    width: 1440px;
    padding: 164px 32px;
    background-color: #1c1d20;
  }
}
