/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./header.css');
@import url('./hero.css');
@import url('./about.css');
@import url('./benefits.css');
@import url('./projects.css');
@import url('./faq.css');
@import url('./covers.css');
@import url('./reviews.css');
@import url('./work.css');

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: 'Inter Tight', sans-serif;
  font-style: normal;
  background-color: #1c1d20;
}

button {
  cursor: pointer;
  margin: 0;
  padding: 0;
  border: 0;
  background-color: transparent;
  background: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.is-open {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

.no-scroll {
  overflow: hidden;
}

.container {
  max-width: 375px;
  padding: 0 16px;
  margin: 0 auto;
}

@media (min-width: 320px) and (max-width: 374px) {
  .container {
    width: 100%;
    padding: 0 16px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding: 0 32px;
  }
}
.section {
  padding: 32px 0;
}

@media screen and (min-width: 768px) {
  .section {
    padding: 48px 0;
  }
}

@media screen and (min-width: 1440px) {
  .section {
    padding: 82px 0;
  }
}
