.footer {
  display: flex;
  flex-direction: column;
  background-color: #1c1d20;
  overflow-x: hidden;
  width: 100%;
}

.footer-title {
  display: flex;
  align-items: flex-start;
}

.footer-title img {
  margin-right: 10px;
}

.footer-header {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-size: 40px;
  line-height: 1;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #fafafa;
  margin-bottom: 60px;
}

.footer-header-text {
  display: inline-block;
}

.footer-header-span {
  color: #0041e8;
}

.footer-header-together {
  display: inline-block;
  margin-left: -60px;
  margin-top: 10px;
}

.footer-form {
  /* margin-bottom: 78px; */
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
}

.footer-input-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 32px;
}

.footer-form-input {
  border: none;
  color: #fafafa;
  background-color: #1c1d20;
  width: 100%;
  padding-bottom: 20px;
  box-sizing: border-box;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.footer-link {
  color: #fafafa;
  border: 1px solid rgba(250, 250, 250, 0.2);

  border-radius: 60px;
  padding: 10px 12px;
  text-decoration: none;
  white-space: nowrap;
  display: inline-block;

  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
}

.footer-link:hover .footer-link:focus {
  border: 1px solid #fafafa;
}

.footer-line-svg {
  fill: transparent;
  stroke-width: 1px;
  stroke: rgba(250, 250, 250, 0.2);
  display: block;
  height: 2px;
  width: 343px;
}

.footer-form-input::placeholder {
  color: rgba(250, 250, 250, 0.6);
}

.footer-form-input:active,
.footer-form-input:hover,
.footer-form-input:focus {
  outline: none;
  /* border-bottom: 2px solid rgba(250, 250, 250, 0.564); */
}
.footer-btn {
  color: #fafafa;
  background-color: #0041e8;
  border: none;
  border-radius: 50%;
  font-size: 16px;

  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-btn:hover {
  background-color: #0033cc;
}
.footer-btn-container {
  align-items: flex-start;
}

.footer-contacts-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: nowrap;
  flex-direction: row;
  gap: 4px;
  margin-top: 0;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.modal-overlay.active,
.footer-modal-window.active {
  display: block;
}

.footer-modal-window {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 64px;
  border: 1px solid rgba(250, 250, 250, 0.1);
  border-radius: 20px;
  padding: 64px 32px;
  background-color: #1c1d20;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  width: 343px;
}

.footer-mw-title {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fafafa;
}

.footer-mw-paragraph {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(250, 250, 250, 0.6);
}

.close-btn {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #fafafa;
  width: 22px;
  height: 22px;
}

.close-btn-svg {
  fill: transparent;
  stroke: #fafafa;
}

.visually-hidden {
  display: none;
}

@media screen and (min-width: 768px) {
  .footer-header {
    font-size: 64px;
  }
  .footer-img {
    border-radius: 24px;
    width: 70px;
    height: 70px;
  }
  .footer-form {
    flex-direction: row;
    align-items: center;
    gap: 32px;
  }
  .footer-form-input {
    padding-bottom: 20px;
  }
  .footer-input-container {
    flex-direction: row;
    margin-bottom: 0;

    /* gap: 32px; */
  }
  .footer-btn-container {
    display: flex;
    align-items: center;
  }
  .footer-line-svg {
    fill: transparent;
    stroke-width: 1px;
    stroke: rgba(250, 250, 250, 0.2);
    display: block;
    height: 2px;
    width: 245px;
  }
  .footer-btn {
    /* padding-right: 32px; */
    width: 150px;
    height: 150px;
  }
  .footer-link {
    font-size: 16px;
  }
  .footer-modal-window {
    border: 1px solid rgba(250, 250, 250, 0.1);
    border-radius: 20px;
    padding: 64px;
    width: 492px;
    height: 246px;
    gap: 64px;
  }
  .close-btn-svg {
    width: 24px;
    height: 24px;
  }
}

@media screen and (min-width: 1440px) {
  .footer {
    margin-top: 130px;
  }
  .footer-form {
    /* gap: 32px; */
    padding-left: 160px;
    padding-right: 160px;
  }
  .footer-title {
    padding-left: 160px;
    padding-right: 60px;
  }
  /* .footer-input-container {
    padding-left: 160px;
  } */

  .footer-inp-img {
    display: flex;
    flex-direction: column;
  }
  .footer-form-input {
    border-bottom: none;
    padding: 0;
  }
  .footer-contacts-container {
    padding-left: 160px;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  .footer-btn-container {
    .background-div {
      background-image: url('./img/work/footer-bgP.png');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      width: 100%;
      /* margin-left: 32px; */
    }
  }

  .footer-btn {
    width: 150px;
    height: 150px;
    margin-left: 0;
    padding-left: 0;
  }

  .footer-form-input {
    max-width: 390px;
    padding-bottom: 20px;
  }

  .footer-btn {
    /* margin-right: 32px; */
    margin-left: 86px;
  }

  .footer-line-svg {
    fill: transparent;
    stroke-width: 1px;
    stroke: rgba(250, 250, 250, 0.2);
    display: block;
    height: 2px;
    width: 390px;
  }
  .footer-contacts-container {
    margin-top: 32px;
    justify-content: flex-start;
    margin-bottom: 120px;
  }
}
