body {
  overflow-x: hidden;
}

.footer {
  display: flex;
  flex-direction: column;
  background-color: #1c1d20;
  overflow-x: hidden;
  /* padding: 16px;  */
  box-sizing: border-box;
}

.footer-title {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.footer-title img {
  margin-right: 10px;
  max-width: 100%;
  height: auto;
}

.footer-header {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #fafafa;
  margin: 0;
}
.footer-header-span {
  color: #0033cc;
}
.footer-header-together {
  padding-top: 8px;
  margin-left: -20px;
}

.footer-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 16px;
}

.footer-input-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer-form-input {
  border: none;
  color: #fafafa;
  background-color: #1c1d20;

  box-sizing: border-box;
}

.footer-link {
  color: #fafafa;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 60px;
  padding: 10px 12px;
  text-decoration: none;
  white-space: nowrap;
  display: inline-block;
}

.footer-link:hover {
  color: #0041e8;
  border-color: #0041e8;
}

.footer-line-svg {
  fill: transparent;
  stroke-width: 1px;
  stroke: rgba(250, 250, 250, 0.2);
}

.footer-form-input::placeholder {
  color: rgba(250, 250, 250, 0.6);
}

.footer-form-input:active,
.footer-form-input:hover,
.footer-form-input:focus {
  outline: none;
  border-bottom: 1px solid rgba(250, 250, 250, 0.564);
}

.footer-btn {
  color: #fafafa;
  background-color: #0041e8;
  border: none;
  border-radius: 50%;
  /* padding: 10px 20px; */
  margin-top: 32px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  width: 100px;
  height: 100px;
}

.footer-btn:hover {
  background-color: #0033cc;
}

.footer-contacts-container {
  margin-top: 32px;
  display: flex;
  flex-direction: row;
  gap: 4px;
  flex-wrap: wrap;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.footer-modal-window {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 32px;
  border: 1px solid rgba(250, 250, 250, 0.1);
  border-radius: 20px;
  padding: 32px;
  background-color: #1c1d20;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  width: 90%;
  max-width: 400px;
}

.footer-mw-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fafafa;
}

.footer-mw-paragraph {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(250, 250, 250, 0.6);
}

.close-btn {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #fafafa;
  width: 22px;
  height: 22px;
}

.close-btn-svg {
  fill: transparent;
  stroke: #fafafa;
}

.visually-hidden {
  display: none;
}

@media screen and (min-width: 768px) {
  .footer-header {
    font-size: 32px;
  }
  .footer-img {
    width: 50px;
    height: 50px;
  }
  .footer-form {
    flex-direction: row;
  }
  .footer-btn {
    width: 80px;
    height: 80px;
  }
  .footer-contacts-container {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1440px) {
  .footer-header {
    font-size: 40px;
  }
  .footer-btn {
    width: 100px;
    height: 100px;
  }
}
